@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: rgba(0, 0, 0, 0.1);


    }

</style>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>

        </tr>
    </thead>
    <tbody>
       

        @foreach (var movie in Model)
        {
            <tr>


                <td><img src="@movie.ImageURL" alt="@movie.Name" width="100" height="150"></td>

                <td><a href="/movies/getmovie/@movie.Id" style="text-decoration: none; color: black; font-size: 20px;">@movie.Name</a></td>



            </tr>
        }
    </tbody>
</table>

